body {
    background: linear-gradient(#e07a5f, rgb(158, 243, 215));
    height: 100%;
}

@font-face {
    font-family: JMH Robotus;
    src: url("JMH\ Robotus.ttf");
}

h1 {
    color: #00afb9;
    text-shadow: 0px 0px 2px black;
    margin-bottom: 50px;
}

.card-div {
    width: 700px;
    height: 400px;
    background-color: #ffddd2;
    margin: 100px auto 300px auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px black;

}

.score-div {
    width: 120px;
    height: 80px;
    background-color: black;
    color: red;
    text-align: center;
    font-family: JMH Robotus;
    padding-top: 15px;
    border-radius: 50%;
    margin-bottom: 50px;
}

p {
    font-size: 30px;
    margin-top: 10px;
}


button {
    margin: 20px 0px 20px 9px;
    color: #9AABD8;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    text-shadow: 0px 0px 1px black;
    box-shadow: 0px 0px 3px black;
    transition: width 9s, height 9s;
    padding: 5px 10px;

}

button:hover {
    width: 40px;
    height: 40px;
}